main{
	min-height: 100%;
}


.grid-container{
	display: inline-grid;
	width: 100%;
	grid-template-columns: 7.5% 25% 5% 25% 5% 25% 7.5%;
	grid-template-rows: 25em 2em 18.75em 2em 6.25em 2em;
}


.grid-item{
	font-family: sans-serif;
	color: #DFDFDF;
 	font-size:20px;
	font-weight: 100;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.10);
	text-align: center;
}



.grid-item:first-child{

	padding: 0px 10px 10px 10px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 6;
}

.grid-item:nth-child(2){

	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

.grid-item:nth-child(2) h4{
	margin-bottom: 13px;
}

.grid-item:nth-child(3) li{
	text-align: left;
}


.grid-item:nth-child(3){
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
}

/*.grid-item:nth-child(4){
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
}*/

.grid-item:nth-child(4){

	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 6;
}

.grid-item:nth-child(5){
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 6;
}

/*.grid-item:nth-child(7){
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 6;
}*/



header h1{
	text-align: center;
	color: #DFDFDF;
	font-family: 'Open Sans',sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 100;
	font-style: lighter;
}

#bmu{
	font-weight: bolder;
}

h3{
	text-align: center;
	color: #DFDFDF;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: lighter;
}



header{
	margin-top: 13px;
}

#time{
	margin-right: 10px;
}

#date{
	margin-left: 10px;
}

.logo img{
	border-radius: 50px;
}

h4{
	color: #DFDFDF;
	font-family: sans-serif;
	letter-spacing: 3px;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#currentTemp{
	font-size: 4em;
	margin-left: 13px;
	color: #DFDFDF;
	font-family: sans-serif;
	letter-spacing: 3px;
	font-weight: 100;
	text-transform: uppercase;
}

/*Background Gradient*/
body{


	margin: 0;
  width: 100%;
  height: 100%;
	background-color: #009fff;
  /*background: linear-gradient(228deg, #80A0D4, #4E7DD5, #3196bf, #629a6d, #e5700b, #d9572e);
background-size: 800% 800%;

-webkit-animation: bggrad 56s ease infinite;
-moz-animation: bggrad 56s ease infinite;
animation: bggrad 56s ease infinite;*/

}

/*@-webkit-keyframes bggrad {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-moz-keyframes bggrad {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@keyframes bggrad {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}*/
/*Ends Here*/


.menu{
	text-align: center;
}

.menu ul{
display: inline;
list-style-type: none;
}

.menu ul li {
	margin-bottom: 22px;
}

marquee span{
margin-left: 15px;
}

marquee{
	padding: 3px;
margin-top:3px;
}

.list-aggregate{
display: inline;
list-style-type: none;
}


#news{
display: inline;
list-style-type: none;
}

#news li{
	margin-bottom: 15px;
}

/*Weather*/
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.weatherdetail{
margin-top: -8px;
	font-size: 2em;
	font-weight: 500;
}

.forecast{
	padding: 0;
}

.forecast li{
	list-style-type: none;
	display: inline;
	margin-right: 10px;
}

.forecast li:last-child{
margin-right: 0;
}



.bmupdates ul{
padding-left:1em;
padding-right:1em;
list-style-type: none;
	text-align: left;
}

#newsDiv{
	padding-left: 40px;
    padding-right: 40px;
}
